/* CookiePolicyPage.module.css */
.container{
    margin: 1rem;
}

.date{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
/* titolo principale */
.cookiePolicyH1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--primary-brown);
  text-align: center;
}

.title{
    font-weight: 500;
}

/* paragrafi e contenitori di testo */
.cookiePolicyP {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--primary-white);
  margin-bottom: 1rem;
}
.cookiePolicyul{
    margin: 1rem;
}
.cookiePolicyul li{
  list-style:circle;
}


/* bottone "Cookie Settings" */
.ckyBannerElement {
  display: inline-block;
  padding: 8px 30px;
  background: var(--secondary-white);
  color: var(--primary-brown);
  border: 1px solid var(--primary-brown);
  border-radius: 2px;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.2s ease, color 0.2s ease;
  margin: 1rem 0;
}

.ckyBannerElement:hover {
    opacity: 1;
}

/* tabella cookies (se CookieYes la inietta qui dentro) */
.ckyAuditTableElement {
  margin: 20px 0;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  padding: 10px;
  background: #fafafa;
}